{% extends "mainapp/wrapper.html" %}

{% block content %}      
    <h2 class="text-info">{{articles.title}}</h2>
    <p>{{articles.post|safe|linebreaks}}</p>
    <h6 class="text-info">Опубликовано: {{articles.date|date:"d-m-Y в H:i"}}</h6>
{% endblock %}